.home {
    h1 {
        color: goldenrod;
    }
}
.buttons {
    form {
        display: inline-block;
    }
}

.post {
    h2 {
        color: tomato;
        text-align: center;
    }
    .post-body {
        white-space: pre-line
    }
    .posts {
        .date {
            width: 100px;
        }
    }
}