<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>
        <div class="container home home-welcome">
            <div class="jumbotron">
                <h1>MEN - about</h1>
            </div>
        </div>

        <% include ../partials/footer %>
</body>

</html>